svg:not(:root) {
  overflow: hidden;
}
#bgShape1 {
  position: fixed;
  top: -1px;
  left: -20px;
  z-index: -1;
  polygon {
    fill: $color-gray-light;
  }
}
#bgShape2 {
  position: fixed;
  top: -100px;
  right: -100px;
  z-index: -1;
  polygon {
    fill: $color-web;
  }
}

#bgHeart {
  position: fixed;
  bottom: 100px;
  left: 100px;
  // transform: rotateY(20deg);
  transform: skew(15deg, 10deg);
  z-index: -1;
  path {
    fill: $color-web-3;
    fill-opacity: 1;
  }
}
