$bg-web: #f3f3f3;
$color-gray-dark: #9d9d9d;
$color-gray-light: #e1e1e1;
$color-web: #20c8e9;
$color-web-1: #33cceb;
$color-web-2: #58d5ee;
$color-web-3: #7ddff2;

$color-grey: #777777;
$color-white: #fff;
$color-black: #000;
$color-stay-time-1: #c0a9ea;
$color-stay-time-2: #aec785;
